/* ---- reset ---- */ 
html,
body {
    padding: 0;
    margin: 0;
}

#earth_div {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute !important;
    background: transparent;
}
canvas { 
    display: block; 
}

#info_panel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 600px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px 5px #fff;
    line-height: 50px;
    text-align: center;
    font-family: monospace;    
} 
